requirements 

fastapi==0.115.0
uvicorn==0.32.0
streamlit==1.39.0
lightgbm==4.5.0
scikit-learn==1.7.2
pandas==2.2.3
numpy==1.26.4
matplotlib==3.9.2
seaborn==0.13.2
joblib==1.4.2
pydantic==2.9.2

pip install -r requirements.txt
